.information
  %h3
    Mi hobby:

  %p
    - persona = Persona.find_by_name("Rebecca")
    Hola! Mi nombre es:
    = persona.name
    y me gusta mucha
    = persona.hobby.name
    !

  %p
    - persona = Persona.find_by_name("Cris")
    mi nombre es:
    = persona.name
    y me gusta
    = persona.hobby.name

  %p
    - adis = Persona.find_by_name("Adis")
    mi nombre es:
    = adis.name
    y me gusta
    = adis.hobby.name

  %p
    - panchit = Persona.find_by_name("Panchita")
    mi nombre es:
    = panchit.name
    y me gusta
    = panchit.hobby.name

  %p
    - persona = Persona.find_by_name("Pamela")
    mi nombre es:
    = persona.name
    y me gusta
    = persona.hobby.name
  %p
    - persona = Persona.find_by_name("Carla")
    mi nombre es:
    = persona.name
    y me gusta
    = persona.hobby.name
	
  %p
    - persona = Persona.find_by_name("Diana")
    mi nombre es:
    = persona.name
    y me gusta
    = persona.hobby.name
    yo trabajo como
    = persona.work

  %p
    - vivi = Persona.find_by_name("Viviana")
    mi nombre es:
    = vivi.name
    y me gusta
    = vivi.hobby.name

  %p
    - persona = Persona.find_by_name("Batman")
    mi nombre es:
    = persona.name
    y me gusta
    = persona.hobby.name

  %p
    - persona = Persona.find_by_name("Karina")
	
  %p
    - persona = Persona.find_by_name("Batichica")
    mi nombre es:
    = persona.name
    y me gusta
    = persona.hobby.name
	
  %p
    - persona = Persona.find_by_name("Carla P")
    mi nombre es:
    = persona.name
    y me gusta
    = persona.hobby.name
    y trabajo en 
    =persona.work
   
  %p  
    - persona = Persona.find_by_name("Hélène")
    mi nombre es:
    = persona.name
    y me gusta
    = persona.hobby.name
    y mi trabajo es
    = persona.work


    %p
    - persona = Persona.find_by_name("Mony")
    mi nombre es:
    = persona.name
    y me gusta
    = persona.hobby.name
    y trabajo como:
    = persona.work
