.information
  %h3
    Mi sector:

  %p
    - persona = Persona.find_by_name("Rebecca")
    mi nombre es:
    = persona.name
    y vivo al
    = persona.sector.name

  %p
    - adis = Persona.find_by_name("Adis")
    mi nombre es:
    = adis.name
    y vivo al
    = adis.sector.name

  %p
    - panchita = Persona.find_by_name("Panchita")
    mi nombre es:
    = panchita.name
    y vivo al
    = panchita.sector.name

    %p
    - persona = Persona.find_by_name("Carla")
    mi nombre es:
    = persona.name
    y vivo al
    = persona.sector.name

  %p
    - cris = Persona.find_by_name("Cris")
    mi nombre es:
    = cris.name
    y vivo al
    = cris.sector.name

    %p
    - vivi = Persona.find_by_name("Viviana")
    mi nombre es:
    = vivi.name
    y vivo al
    = vivi.sector.name

    %p
    - pamela = Persona.find_by_name("Pamela")
    mi nombre es:
    = pamela.name
    y vivo al
    = pamela.sector.name